<h1>Экспертная система</h1>
<div *ngIf="knowledge == null">
    <p>Знания</p>
    <textarea style="width:80%; height: 400px;" [(ngModel)]="knowledgeText"></textarea>
    <div><button (click)="applyKnowledgeText()">Apply</button></div>
</div>

<div *ngIf="knowledge != null && state == null">
    <p>Вопрос</p>
    <input [(ngModel)]="target" />
    <button (click)="analyze()">Анализировать</button>

    <div *ngIf="!!oldTarget" style="margin-top: 50px;">
        <p>Ответ на предыдущий вопрос:</p>
        <p>{{oldTarget}} - {{answer}}</p>
    </div>
</div>

<div *ngIf="knowledge != null && state != null">
    <p>Укажите: {{question}}</p>
    <ol>
        <li *ngFor="let variant of questionVariants">
            <button class="btn btn-link" (click)="nextAnswer(variant)">{{variant}}</button>
        </li>
    </ol>
    <input [(ngModel)]="answer" />
    <button (click)="nextAnswer()">Далее</button>
</div>
